.pass-change{
    margin: 33px 20px 0 20px;
    background-color: transparent;
    padding: 20px 20px 50px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.pass-change .btn-pass{
    position: relative;
}
.pass-change button{
    margin-top: 5px;
}
.pass-change .save-pass{
    position: absolute;
    right: 70px;
    color: green;
    border-radius: 50px;
    
}
.pass-change .cancel-pass{
    position: absolute;
    right: 0;
    background-color: rgb(25, 156, 25);
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
}