/*Category List css*/
.categories-list-container {
  max-width: 850px;
  min-height: 89vh;
  margin: 0 auto; 
}

.categories-list-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/*Skills List Css*/
.skills-list-container {
  max-width: 850px;
  min-height: 89vh;
  margin: 0 auto;
   
}

.skills-list-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}


/*Language List Css*/
.languages-list-container {
  max-width: 850px;
  min-height: 89vh;
  margin: 0 auto;
   
}

.languages-list-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/*Buttons css*/
.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.save-button,
.cancel-button, 
.return-button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.delete-button{
  background-color: #e23939;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;}

.edit-button:hover,
.save-button:hover,
.cancel-button:hover,
.return-button:hover
 {
  background-color: #0056b3;
  transform: scale(1.1);
}
.delete-button:hover{
  background-color: rgb(118, 46, 46);
  transform: scale(1.1);
}